body{
	font-size: 16px;
	color: #3c2f2f;
	background-color: #fffeb3;
	font-family: sans-serif;
	}

/**HEADER**/
#header-nav{
	background-color: #6fcb9f;
	border-radius: 0;
	border: 0;
}
.navbar-default .navbar-brand{
	/*Restaurant name*/
	font-family: sans-serif;
	color: #fffed6;
	font-size: 2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-toggle{
	margin-top: 30px;
	margin-bottom: 20px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #6fcb9f;
}

/*END OF HEADER*/

/*HOMEPAGE*/
#title{
	font-weight: bold;	
}
.section-style{
	position: relative;
	background-color: #3c2f2f;
	color: #fffeb3;
	margin: 5px;
}
.section-style a{
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	background-color: #ffe28a;
	color: #3c2f2f;
	font-style: italic;
	}
.section-style a:hover, .section-style a:focus{
	text-decoration: none;
}
.section-style h3{
	padding: 30px;
	font-weight: bold;
}
.section-style p{
	padding: 20px;
}

@media (max-width: 767px){
#collapsable-nav{
	background-color: #ffe28a;
	color: #3c2f2f;
}
}